<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/tab1">
      <ion-icon aria-hidden="true"  name="home-outline" color="dark"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clase" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="briefcase-outline" color="dark"></ion-icon>
      <ion-label>Gestionar Clases</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="escaneo" href="/tabs/escaneo">
      <ion-icon aria-hidden="true" name="qr-code-outline" color="dark"></ion-icon>
      <ion-label>Escaneo QR</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
