<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title id="titulo">Clase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="asignaturas.length > 0 && secciones.length > 0; else noData">
    <ion-item *ngFor="let asignatura of asignaturas">
      <ion-label>
        <h2>{{ asignatura.nombre }}</h2>
        <p>{{ asignatura.sigla }} - Sala: {{ asignatura.sala }}</p>
        <p>Sección: {{ getSeccionNombre(asignatura.seccionId) }}</p>
        <p>Horario:</p>
        <ul>
          <li *ngFor="let horario of asignatura.horarios">
            {{ horario.dia }}: {{ horario.horaInicio }} - {{ horario.horaFin }}
          </li>
        </ul>
      </ion-label>
      <ion-button fill="outline" (click)="verAsistencias(asignatura.id)">
        Ver Asistencias
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #noData>
    <ion-item>
      <ion-label>No tienes asignaturas asignadas.</ion-label>
    </ion-item>
  </ng-template>
</ion-content>