<ion-content [fullscreen]="true">
  <div class="container">

    <div class="Header">
      <div class="wrapBackButton">
        <button class="backButton" (click)="volver()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </div>
      <div class="wrapTitle">
        <h1>Asistencias</h1> 
      </div>
    </div>

    <div class="noHay" *ngIf="asistencias.length === 0">
      <p>No hay asistencias registradas</p>
    </div>

    <div class="card">
      <ion-card *ngFor="let a of asistenciasConAsignaturas">
        <ion-card-header>
          <ion-card-title>{{ a.asignatura?.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="wrap">
            <p>Fecha: {{a.fecha}} </p>
            <a (click)="buscarAsistencias(a)">Ver más</a>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
