<ion-content [fullscreen]="true">
  <div class="container">

    <div class="Titulo">
      <h1>ClassCheckIn</h1>
    </div>

    <div class="texto">
      <h2>¡Te damos la Bienvenida!</h2>
      <p>Aprovecha al máximo tu experiencia académica con ClassCheckIn.</p>
    </div>

    <div class="botones">
      <ion-button class="login-button" expand="block" (click)="login()">Iniciar Sesión</ion-button>
      <ion-button class="login-button" expand="block" (click)="register()">Registrarse</ion-button>
    </div>
   
    <div class="parrafo">
      <p>
        Los accesos ClassCheckIn son enviados al correo electrónico personal registrado en el proceso de admisión. 
        Revisa tu bandeja de entrada o en la sección de spam.
      </p>
    </div>

    <div class="ayuda-version">
      <a href="#">Necesito ayuda</a>
      <p>V. 2.0</p>
    </div>

  </div>
</ion-content>
