<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header style="text-align: center;">
      <ion-card-title color="primary"><strong>¿Olvidaste tu contraseña?</strong></ion-card-title>

      <ion-card-subtitle style="text-align: justify;">
        Introduzca su dirección de correo electrónico a continuación y le enviaremos un e-mail
        con un enlace para restablecer su contraseña.
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      
      <form [formGroup]="resetPasswordForm" (ngSubmit)="enviarCorreoRecuperacion()">

        <div class="d-flex-center">
        
          <ion-card>
            <ion-item lines="none">
              <ion-input type="email" formControlName="correo" labelPlacement="stacked" 
               placeholder="Ingrese su correo electrónico" style="font-family: georgia;"></ion-input>
            </ion-item>
          </ion-card>
        </div>

        <div *ngIf="resetPasswordForm.get('correo')?.invalid && resetPasswordForm.get('correo')?.touched">
          <small style="color:red;">Por favor, ingresa un correo válido.</small>
        </div>
  
        <div style="text-align: center; padding-top: 40px;">
          <ion-button type="submit" [disabled]="resetPasswordForm.invalid"
            size="default" color="primary" style="padding-left: 10px; padding-right: 10px; ">
            Enviar
          </ion-button>
        </div>

      </form>
    
    </ion-card-content>

    

    <div style="text-align: center; padding-top: 50px; padding-bottom: 20px;">
      <ion-button style="font-size:x-small; padding-top: 50px;" (click)="volverAtras()" fill="clear" color="primary">
        Volver
      </ion-button>
    </div>
  </ion-card>