.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  
    background-color: #DFDBE5;
    
  }
  
  form {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  ion-item {
    margin-bottom: 10px;
    --background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(31,44,153,0.7959558823529411) 100%, rgba(0,212,255,1) 100%);
  }
  
  ion-button {
    --background:var(--ion-color-primary);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h1 {
    color: var(--ion-color-success);
  }
  
  
  .heading {
    text-align: start;
    align-items: center;
    font-size:40px;
    padding-left: 20px;
    color: var(--ion-color-secondary-contrast);
  }

  .texto, .signup-text{
    color: var(--ion-color-secondary-contrast);
  }